* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5d5d5d;
        font-family: sans-serif;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(8, 60px);
        grid-template-rows: auto repeat(8, 60px) auto;
        border: 5px solid #2c2c2c;
        background-color: #2c2c2c;
    }

    .top, .bottom {
        grid-column: 1 / -1;
        color: #fff;
        font-weight: bold;
        padding: 5px 0;
    }

    .wrapper-inner {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    .box {
        width: 100%;
        height: 100%;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box:nth-child(16n + 3),
    .box:nth-child(16n + 5),
    .box:nth-child(16n + 7),
    .box:nth-child(16n + 9),
    .box:nth-child(16n + 10),
    .box:nth-child(16n + 12),
    .box:nth-child(16n + 14),
    .box:nth-child(16n + 16) {
        background-color: #333;
    }