*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px;
    height: 100vh;
    font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
    color: white;
    width: 100%;
    height: 10%;
    font-weight: bold;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: white;
    width: 100%;
    height: 10%;
}

.content{
    display: flex;
    width: 100%;
    height: 80%;
    gap: 10px;
    margin: 10px 0;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.content-sidebar-left{
    background-color: darksalmon;
    width: 20%;
}

.content-pane{
    background-color: lightblue;
    width: 60%;
}

.content-sidebar-right{
    background-color: darksalmon;
    width: 20%;
}

.item{
    background-color: white;
    border: 1px solid #999;
    border-radius: 8px;
    width: 80%;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3 ease;
    cursor: pointer;
}

.item:hover{
    background-color: #f0f8ff;
    transform: scale(1.05);
    border-color: darkcyan;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}