ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
    
}

a:link, a:visited{
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    background-color: black;
    width: 200px;
    padding: 8px;
}

a:hover, a:active{
    background-color: gray;
}